h1 {
  font-family: "Chivo Mono", monospace;
  font-family: "PT Serif", serif;
  color: purple;
}
i {
  font-family: "Chivo Mono", monospace;
  font-family: "PT Serif", serif;
  font-size: 26px;
  color: plum;
}
